@font-face {
    font-family: Coiny;
    src: url(coinycyrillic.ttf);
}
@font-face {
    font-family: Coda;
    src: url(Coda-Regular.ttf);
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    background-color: #6c6c6c;
    width: 1666;
    overflow-x:hidden;
    height: 100%;
}
header{
    display: flex;
    max-width: 1666px;
    width: 100%;
    height: 100px;
    z-index: 100;
    

    background-color: #413E3E;
}

.text1{
    display: flex;

    margin-top: 30px;
    margin-left: 100px;

    gap: 30px;

    max-width: 1456px;
    width: 100%;
    height: 79px;

    font-family: 'Coiny';
    font-style: normal;
    font-weight: 400;
    line-height: 44px;
    font-size: 36px;
    
    color: #EEEEEE;
}   

header a{
    text-decoration:none;
    color:#EEEEEE ;
    cursor: pointer;
}

.a1{
    text-decoration:none;
    color:#EEEEEE ;
}
.img1{
    display: flex;
    margin-top: 5px;
    padding-left: 30px;

    background: url(/Project-TRPO//Web/img/c-.png) no-repeat;

}
.information{
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
}
.project{
  

    display: flex;
    margin-left: 180px;
    margin-bottom: 10px;

    font-family: 'Coda';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 91px;

    color: #FFFFFF;


}

.img2{
  
    position: relative;
    display: flex;
    width: 500px;
    height: 500px;
  
    margin-left: 120px;
    margin-right: 0px;

    background: url(/Project-TRPO/Web/img/hacker\ \(1\).png);

}


.text2{
    
    position: relative;
    display: block;
    width: 700px;
    height: 400px;
    float: right;
    margin-left:80px ;

    font-family: 'Coda';
    font-style: normal;
    font-size: 36px;
    font-weight: 400;
    color: white;

}
.Goals{
    display: inline-block;
    width: 100%;
    height: 100%;
}



.ol{
    margin-left: 50px;
    width: 600px;
    height: 550px;

    font-family: 'Coda';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 51px;

    color: #FFFFFF;
}

.goals{
   
    display: flex;
    float: right;
    margin-top: 100px;
    margin-right: 250px ;
    margin-bottom: 100px;
    font-family: 'Coda';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 136px;

    color: #FFFFFF;


}


.ol2{
  
    width: 900px;
    margin-top: 300px;
    margin-left: 200px;
    margin-bottom: 90px;
    font-family: 'Coda';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 51px;

    color: #FFFFFF;


}
li{
    margin: 20px;

}
.ol2 li{
    margin: 40px;
    list-style-type: none;
    list-style-image: url(/Project-TRPO/Web/img/checkmark.png);
}
.Description{
    display: inline-block;
    width: 100%;
    height: 100%;
}

.desc{
    margin-left: 150px;
    margin-top: 80px;
    display: flex;
    font-family: 'Coda';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 91px;

    color: #FFFFFF;


}
.book{
    margin-top: 15px;
    width: 64px ;
    height: 64px;
    display: flex;
    background: url(/Project-TRPO/Web/img/open-book.png);

}

.desc2_1{
   display: flex;
   width: 1400px;
}
.desc2{
    margin-left: 150px;
    width: 600px;
    margin-top: 100px;
    display: flex;
    font-family: 'Coda';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 51px;
    
    color: #FFFFFF;
}
    
.desc3{
    width: 1400px;
    margin-left: 150px;
    margin-top: 100px;
    display: flex;
    font-family: 'Coda';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 51px;
    color: #FFFFFF;
    margin-bottom: 150px;
}
.Menu{
    width: 510px;
    height: 120px;
    display: flex;
    margin-top: 130px;
   
    background: url(/Project-TRPO/Web/img/MEnu.png) no-repeat;
}
.Structure{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.structure{
    margin-top: 110px;
    display: flex;
    margin-left: 150px;
    font-family: 'Coda';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 91px;

    color: #EEEEEE;


}
.str{
    margin-top: 100px;
    margin-left: 20px;
    width: 128px;
    height: 128px;
    background: url(/Project-TRPO/Web/img/diagram.png);

}
.str1{
    display: flex;
    width: 800px;
}
.ol3{
    margin-top: 100px;
    margin-left: 250px;
    width: 1100px ;
    font-family: 'Coda';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 190px;

    color: #FFFFFF;


}
.ol3 li{
    margin: 40px;
}
.GIT{
    display: inline-block;
    width: 100%;
    height: 100%;
    
}
.git_01{
    
    display: flex;
    margin-top: 150px;

}
.git_02{
    
    display: flex;
   margin-bottom: 150px;

}

.git{
   
    display: flex;
    margin-top:10px;
    margin-right: 130px;
    width: 600px;
    height: 200px;
    margin-left: 150px;
    font-family: 'Coda';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 51px;

    color: #FFFFFF;
}

.history{
    width: 560px;
    height: 310px;
    
    background: url(/Project-TRPO/Web/img/history.png) no-repeat;

}

.repos{
    width: 585px;
    height: 125px;
    margin-top: 170px;
    margin-left: 130px;
   

    background: url(/Project-TRPO/Web/img/repos.png) no-repeat;

}

.people{
    
    width: 595px;
    height: 350px;
  
    margin-left:150px ;

    background: url(/Project-TRPO/Web/img/people.png) no-repeat;

}
.GitHub{

    float: right;
    margin-right: 350px;
    margin-bottom: 40px;
    font-family: 'Coda';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 91px;

    color: #FFFFFF;
}

.About{
    margin-bottom: 150px;
    justify-content: center;
    display: flex;
    text-align: center;
    font-family: 'Coda';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 91px;

    color: #FFFFFF;
}
a{
    text-decoration: none;
    color: #FFFFFF;
    cursor: pointer;
}



footer {
    display: flex;

    justify-content: space-between;
    flex-wrap: wrap;
    
  
}
.info{
    transition: 0.3s;
    
    display: flex;

    flex-direction: column;
    min-width: 270px;
    align-items: center;
    justify-content: center;

    flex-basis: 20%;
    height: 550px;
   
    font-family: 'Coda';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 51px;

    color: #FFFFFF;
}


.info * {
    cursor: default;
}

.info svg {
    width: 30px;
    height: 30px;
}

.info img {
    width: 200px;
    height: 200px;

    border-radius: 50%;
}

.info:hover img {
    animation: rotation 0.6s infinite ease-in-out;
}


